<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Usamos sua localização só para detectar beacons indoor próximos e te guiar dentro do prédio — não usamos GPS externo.</string>
</dict>
</plist>
